In [98]:
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import GridSearchCV,train_test_split
from sklearn.metrics import mean_absolute_error,r2_score
from xgboost import XGBRegressor
import pickle

In [99]:
df=pd.read_csv("df_plain.csv")
df.head()

,Unnamed: 0,Audi,BMW,Bentley,Chevrolet,Datsun,Fiat,Force,Ford,Honda,...,kms_driven,transmission,ownership,manufacture,engine,Seats,Cng,Diesel,Electric,Lpg
0,0,0,0,0,0,0,0,0,0,0,...,86226.0,0,1,6.0,1956.0,5,0,1,0,0
1,1,0,0,0,0,0,0,0,0,0,...,13248.0,1,1,2.0,1330.0,5,0,0,0,0
2,2,0,0,0,0,0,0,0,0,0,...,60343.0,1,1,7.0,2494.0,5,0,0,0,0
3,3,0,0,0,0,0,0,0,0,1,...,26696.0,1,1,5.0,1199.0,5,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,69414.0,0,1,7.0,1199.0,5,0,0,0,0

In [100]:
df.columns

Index(['Unnamed: 0', 'Audi', 'BMW', 'Bentley', 'Chevrolet', 'Datsun', 'Fiat',
       'Force', 'Ford', 'Honda', 'Hyundai', 'Isuzu', 'Jaguar', 'Jeep', 'Kia',
       'Land', 'Lexus', 'MG', 'Mahindra', 'Maruti', 'Maserati',
       'Mercedes-Benz', 'Mini', 'Mitsubishi', 'Nissan', 'Porsche', 'Premier',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen',
       'car_prices_in_rupee', 'kms_driven', 'transmission', 'ownership',
       'manufacture', 'engine', 'Seats', 'Cng', 'Diesel', 'Electric', 'Lpg'],
      dtype='object')

In [101]:
x=df.drop("car_prices_in_rupee",axis=1)
y=df["car_prices_in_rupee"]

In [102]:
x.head()

,Unnamed: 0,Audi,BMW,Bentley,Chevrolet,Datsun,Fiat,Force,Ford,Honda,...,kms_driven,transmission,ownership,manufacture,engine,Seats,Cng,Diesel,Electric,Lpg
0,0,0,0,0,0,0,0,0,0,0,...,86226.0,0,1,6.0,1956.0,5,0,1,0,0
1,1,0,0,0,0,0,0,0,0,0,...,13248.0,1,1,2.0,1330.0,5,0,0,0,0
2,2,0,0,0,0,0,0,0,0,0,...,60343.0,1,1,7.0,2494.0,5,0,0,0,0
3,3,0,0,0,0,0,0,0,0,1,...,26696.0,1,1,5.0,1199.0,5,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,69414.0,0,1,7.0,1199.0,5,0,0,0,0

In [103]:
y.head()

0    1003000.0
1    1283000.0
2    1640000.0
3     777000.0
4     515000.0
Name: car_prices_in_rupee, dtype: float64

In [104]:
print(y)

0       1003000.0
1       1283000.0
2       1640000.0
3        777000.0
4        515000.0
          ...
5374    2890000.0
5375    6490000.0
5376    1375000.0
5377    2990000.0
5378    3190000.0
Name: car_prices_in_rupee, Length: 5379, dtype: float64

In [105]:
x_train,x_test,y_train,y_test=train_test_split(x,y)

In [106]:
x_train.shape

(4034, 42)

In [107]:
x_test.shape

(1345, 42)

In [108]:
y_train.shape

(4034,)

In [109]:
y_test.shape

(1345,)

In [110]:
lr=LinearRegression()
lr.fit(x_train, y_train)
lr_pred=lr.predict(x_test)

In [111]:
mean_absolute_error(lr_pred,y_test)

568916.8640630842

In [112]:
r2_score(lr_pred,y_test)

0.18759158899040118

XGB

In [113]:
lr=XGBRegressor()
lr.fit(x_train, y_train)
lr_pred=lr.predict(x_test)

In [115]:
mean_absolute_error(lr_pred,y_test)

352226.4852876685

In [116]:
r2_score(lr_pred,y_test)

0.7936233282459535

In [118]:
pickle.dump(lr,open("xgb_model.sav","wb"))